{% extends "attend_class_app/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ unit.user.profile.image.url }}">
        <div class="media-body">
            {% for unit in units%}
            {%if unit.id == 1%}
                    <div class="article-metadata">
                    <p>{{unit.id}}</p>
                    <a class="mr-2" href="#">{{ unit.Lecturer}}{{unit.id}}</a>
                    <!-- <small class="text-muted">{{ unit.UnitTopics }}</small> tags -->
                    </div>
                     <h2 class="article-content">{{ unit.UnitName }}</h2>
                     <p class="article-content">{{ unit.UnitTopics }}</p>
                     {%endif%}
            {% endfor %}
        </div>
    </article>
{% endblock content %}
