{% extends "attend_class_app/base.html" %}
{% load static %}
{% block script %}
<script src="{% static 'attend_class_app/js/script.js'%}"></script>
{% endblock %}
{%  block style %}
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
{% endblock%}
{% block content %}
    <article class="media content-section">
        <span class="material-icons pt-4 pr-3" style="font-size: 30px;">local_library</span>
        <div class="media-body">
            <h3>{{ unit.UnitName}}</h3>
            <h5>{{ unit.Lecturer}}</h5>
        </div>
    </article>
    
    <div class="row mb-5" style="float:right;">
        <div class="col">
            <input type="date" id="datetime" name="datetime" class="form-control">  
        </div>
    </div>
    <h4>Class attendance</h4>

    <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Day</th>
      <th scope="col">Clock in</th>
      <th scope="col">Clock out</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>13th October 2020</td>
      <td>8.00 am</td>
      <td>9.50 am</td>
    </tr>
    <tr>
      <th scope="row">2</th>
     <td>26th October 2020</td>
      <td>2.00 pm</td>
      <td>4.30 pm</td>
    </tr>
    <tr>
      <th scope="row">3</th>
     <td>29th October 2020</td>
      <td>10.00 am</td>
      <td>11.57 am</td>
    </tr>
  </tbody>
</table>
    
{% endblock content %}
