{% extends "attend_class_app/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ unit.user.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ unit.Lecturer }}</a>
                <!-- <small class="text-muted">{{ unit.UnitTopics }}</small> tags -->
                
            </div>
            <h2 class="article-content">{{ unit.UnitName }}</h2>
            <p class="article-content">{{ unit.UnitTopics }}</p>
        </div>
    </article>
{% endblock content %}
